:root {
  --container-width: 1150px;
  --basic-space: 1rem;
}
body {
  max-width: 1440px;
  color: #1D2F38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
}
