:root {
  --basic-space: 60px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
}
body {
  font-family: "Montserrat";
  font-weight: 400;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
  display: block;
}


