* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.imgcontainer {
  padding-left: 50px;
}
p {
  font-size: 15px;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 350px;
  text-align: center;
}
input[type="text"],
input[type="password"] {
  width: 350px;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: none;
  background: #dcebea;
  border-radius: 5px;
}
button {
  background-color: #4caf50;
  padding: 16px 20px;
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 350px;
  border-radius: 5px;
}
img {
  width: 100px;
  border-radius: 50%;
}
nav {
  margin: 50px;
  color: blue;
}
