* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
  border-radius: 10px;
}

.container_blok {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card {
  display: inline-block;
  border: 1px solid;
  font-size: 10px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  margin: 15px;
  max-width: calc(28%);
}

.blok + .blok {
  margin-left: 30px;
}
.container {
  max-width: 965px;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
}
